<!-- error.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="error-message">Error</h1>
      </header>

      <main>
        <p><%= errorMessage %></p>
        <p><a href="/">Go back to the form</a></p>
      </main>
    </div>
  </body>
</html>
