/* style.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

h1 {
  font-style: italic;
  color: #373fff;
  text-align: center;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 100%;
  margin-bottom: 15px;
}

input,
textarea {
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: lightgrey;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffcc00;
}

button:active {
  box-shadow: none;
  transform: translateY(1px);
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}

.success-message {
  color: #373fff;
  text-align: center;
  font-weight: bold;
}
